Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteBase /LaIndia/public/

# Si el archivo o directorio no existe, redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
